*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/*
.gitignore
app/build/*
data/build/*
domain/build/*
utils/build/*
app/.gitignore
data/.gitignore
domain/.gitignore
utils/.gitignore
